

.conteiner
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    font-family: 'Inter', sans-serif;
    height: 100%;
}

header
{
    
    width: 100%;
    height: 85px;
    background-color: #fff;
    display: flex;
    border-bottom: 1px solid #D5D5D5;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0px;

}

.logo
{
    display: flex;
    position: fixed;
    left: 45px;
    align-items: center;
    font-size: 14px;
    gap: 4px;
}

.logo span
{
    font-weight: 500;
    font-size: 15px;
}

.theme
{
    position: fixed;
    right: 90px;
}

#btndark
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid #D8D8D8;
    width: 65px;
    height: 32px;
    background-color: transparent;
    
}

#btndark svg 
{
    display: flex;
    width: 18px;
}

.light
{
    background-color: #D1425C;
    border-radius: 50%;
    border: 3px solid #D1425C;
    fill: #fff;
    
}

.inputbuscar
{
    display: flex;
    padding-left: 15px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 38px;
    width: 500px;
    height: 40px;
    border: 1px solid #DADADA;
    border-radius: 30px;
    align-items: center;
    position: fixed;
    box-sizing: border-box;
}

.inputbuscar svg
{
    width: 24px;
    height: 24px;
}

#inputt
{
    padding: 15px;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 15px;

}

.contador
{
    display: flex;
    align-items: center;
    height: 27px;
    position: fixed;
    right: 10px;
    border: 1px solid #D8D8D8;
    border-radius: 25%;
    padding: 2px 8px;
    gap: 3px;
}

.contador svg
{
    width: 20px;
    height: 20px;
}

.contador #nsave
{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

li
{
    width: 500px;
    border-radius: 12px;
    border: 1px solid #DDDDDD;
    padding: 10px 0px 20px 40px;
    list-style: none;
    text-align: left;
    margin: 15px 0px;
    box-sizing: border-box;
}

li div 
{
    display: flex;
    flex-direction: row;
}

li div h1
{
    width: 385px;
    font-size: 20px;
}

li div button
{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin: 10px 10px 10px 50px;
    border: 1px solid #DDDDDD;
    background-color: transparent;
    padding: none;
}

p
{
    margin-top: 0px;
    color: #4D4D4D;
    text-align: left;
    width: 350px;
    font-size: 15px;
    line-height: 1.4;
}

.guardado
{
    background-color: #D1425C;
}
.darkmode
{
    background-color: #262626;
    color: #E1E1E2;
}

.darkmode .light
{
    background-color: transparent;
    border: 1px solid transparent;
    fill: white;

}

.darkmode .dark
{
    background-color: #D1425C;
    border-radius: 50%;
    border: 5px solid #D1425C;
    fill: #fff;
}

.darkmode header
{
    background-color: #262626;
    border: 1px solid #444444;
}

.darkmode #btndark 
{
    background-color: #2f2f2f;
    border: 1px solid #444444;
}

.darkmode .inputbuscar
{
    background-color: #2f2f2f;
    border: 1px solid #444444;
}

.darkmode #inputt 
{
    color: white;
    font-family: 'Inter', sans-serif;
}

.darkmode .inputbuscar ::placeholder
{
    color: #979292;
}

.darkmode .contador
{
    background-color: #2f2f2f;
    border-color: #444444;
}

.darkmode .contador svg
{
    fill: #d7cdcd;
}

.darkmode li 
{
    border: 1px solid #444444;
    background-color: #2f2f2f;
} 

.darkmode li div button
{
    border: 1px solid #444444;
    background-color: #262626;
}

.darkmode li div button svg
{
    fill: #d7cdcd;
}

.darkmode p
{
    color: #ACADAE;
}